*,*:before,*:after{
    box-sizing: border-box;
}
body{
    font-family: poppins;
    margin:0;
    display: grid;
    font-size: 14px;
}
main{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9b9b9b;
    line-height: 3.8;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bold;
}
footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color:#fff;
    background-color: #011c39;
}
.footer >*{
    flex: 1 100%;
}
.footer-left{
    margin-right: 1.25cm;
    margin-bottom: 2cm;
}
h2{
    font-weight: 600;
    font-size: 17px;
}
.footer ul{
    list-style: none;
    padding left: 0;
}
.footer li{
  line-height: 2cm;
}
.footer-right{

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}
.footer-right > * {
    flex: 1 50%;
    margin-right: 1.25cm;
}
.footer-bottom{
    text-align: center;
    color: #999;
    padding-top: 50px;
}

   